<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup Page</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="../styles/signup.css">
</head>

<body>
  <div class="form-container">
    <div class="logo">
      <h1>my logo</h1>
    </div>
    <div class="login">
      <div class="form-head">
        <h1 class="signup">Signup</h1>
      </div>
      <div class="form-input">
        <form action="" id="signup-form">
          <div class="name-input">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
          </div>
          <div class="email-input">
            <label for="email">Email</label>
            <input type="email" id="email" name="email">
          </div>
          <div class="username-input">
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
          </div>
          <div class="password-input">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
          </div>
          <div class="btn-div">
            <button type="submit" id="signup-button" class="signup-button">Create an account</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

<script src="../scripts/signup.js"></script>
</html>