<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup Page</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="../styles/forgot-password.css">
</head>

<body>
  <div class="form-container">
    <div class="logo">
      <h1>my logo</h1>
    </div>
    <div class="login">
      <div class="form-head">
        <h1 class="update-password-banner">Reset password</h1>
      </div>
      <div class="form-input">
        <form action="" id="update-password-form" method="post">
          <div class="password-input">
            <label for="password">Enter new password</label>
            <input type="password" id="password" name="password" required>
          </div>
          <div class="btn-div">
            <button type="submit" id="signup-button" class="signup-button">Reset password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

<script>
  let updateForm = document.getElementById('update-password-form')
  let button = document.getElementById('signup-button')
  let password = document.getElementById('password')
  updateForm.addEventListener('submit', submitForm)

  async function submitForm(e){
    e.preventDefault()
    let obj = {
      password: password.value
    }
    let id = req.query.id
    let ids = req.params.id
    console.log(id)
    //axios.post('http://localhost:8080/')
  }

</script>
</html>