body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.logo-container {
    margin-bottom: 20px;
}

.logo{
    height: 60px;
    width: 60px
}

.login {
    text-align: center;
}

.form-head {
    margin-bottom: 20px;
}

.login-header {
    color: #333333;
    font-size: 28px;
}

.form-input {
    margin-bottom: 20px;
}

.username-input,
.password-input {
    margin-bottom: 15px;
}

.username-input label,
.password-input label {
    display: block;
    font-size: 16px;
    color: #333333;
}

.username-input input,
.password-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.btn-div {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.login-button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #0056b3;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right h1 {
    color: #007bff;
}

.error{
    background-color: yellow;
    color: green;
    padding: 5px;
    font-size: 20px;
}
